  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="index.html"  style="max-height: 60px;
          margin-left: 2px;">
            <img src="../../assets/img/tnhb_logo.png" alt="">
          </a>


        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4></h4>
          <ul>
            <li><a ></a></li>
            <li><a ></a></li>
            <li><a ></a></li>
            <li><a ></a></li>
            <li><a ></a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4></h4>
          <ul>
            <li><a style="color: black;font-weight: 500;">Head Office CMDA Complex,
                <br><br>E&C Market Road,
                <br><br>Koyambedu, Chennai-600107
                <br><br>Phone.24794201,02,03,04,05,06(044)</a></li>


          </ul>
        </div>



      </div>
    </div>

    <div class="container mt-4">
      <div class="copyright">
        &copy; Copyright <strong><span>Bocxy</span></strong>. All Rights Reserved
      </div>
      <div class="credits">

        Designed by <a href="https://bocxy.com">Bocxy</a>
      </div>
    </div>

  </footer><!-- End Footer -->
  <!-- End Footer -->