<!-- Start Footer -->
<footer class="footer" style="background-color: #3FB8DE;padding: 2rem;">

  <div class="d-flex justify-content-evenly mb-4">
    <div class="image-container">
      <div class="">
        <img src="../../assets/img/tnhb_logo.png" alt="" class="">
      </div>
      <div class="">
        <img src="../../assets/img/tn_logo.png" alt="" class="ms-4">
      </div>
    </div>
    <div class="address-list d-flex align-items-center">
      <ul class="my-0">
        <li>Head Office CMDA Complex, E&C Market Road,</li>
        <li>Koyambedu, Chennai-600107</li>
        <li>Phone.24794201,02,03,04,05,06(044)</li>
      </ul>
    </div>
  </div>

  <div class="d-flex flex-column">
    <div class="copyright text-center">&copy; Copyright Bocxy. All Rights Reserved</div>
    <div class="copyright text-center">Designed by <a href="https://bocxy.com">Bocxy</a></div>
  </div>

</footer>
<!-- End Footer -->