.box {
    width: 100%;
    max-width: 1000px;
    height: 56px;
    background: rgba(217, 217, 217, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 20px;
    margin-bottom: 1rem;
}

.document {
    flex-grow: 1;
}

.icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.icon {
    margin-left: 8px;
    margin-right: 10px;
    font-size: 24px;
}

/* Temporarily disabled eye and download icon */
a.disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}