<main class="section profile px-4 mb-5">
  <div class="row">

    <div class="col-4">
      <app-dashboard></app-dashboard>
    </div>

    <div class="row col-8">
      <div class="d-flex flex-column">
        <app-maintab></app-maintab>

        <div class="col-12">

          <h1 class="text-center" style="font-weight: 800;">List of Document</h1>
          <h3 style="font-weight: 800;">Scheme 1</h3>

          <div class="box">
            <div class="document" style="font-weight: 700;font-size: 1rem;">Document 1 - Allotment Order</div>
            <div class="icons">
              <a class="icon" href="../../../assets/documents/rosy_allotment_order.pdf" target="_blank"><i
                  class="bi bi-eye"></i></a>
              <a class="icon" href="../../../assets/documents/rosy_allotment_order.pdf" download target="_self"><i
                  class="bi bi-arrow-down-circle"></i></a>
            </div>
          </div>

          <div class="box">
            <div class="document" style="font-weight: 700;font-size: 1rem;">Document 2 - LCS agreement</div>
            <div class="icons">
              <a class="icon" href="../../../assets/documents/rosy_lcs.pdf" target="_blank"><i
                  class="bi bi-eye"></i></a>
              <a class="icon" href="../../../assets/documents/rosy_lcs.pdf" download target="_self"><i
                  class="bi bi-arrow-down-circle"></i></a>
            </div>
          </div>

          <div class="box">
            <div class="document" style="font-weight: 700;font-size: 1rem;">Document 3 - Handing over report</div>
            <div class="icons">
              <a class="icon disabled" href=""><i class="bi bi-eye"></i></a>
              <a class="icon disabled" href=""><i class="bi bi-arrow-down-circle"></i></a>
            </div>
          </div>

          <div class="box">
            <div class="document" style="font-weight: 700;font-size: 1rem;">Document 4 - Field measurement book</div>
            <div class="icons">
              <a class="icon disabled" href=""><i class="bi bi-eye"></i></a>
              <a class="icon disabled" href=""><i class="bi bi-arrow-down-circle"></i></a>
            </div>
          </div>

          <div class="box">
            <div class="document" style="font-weight: 700;font-size: 1rem;">Document 5 - A & B(Loan purposes)</div>
            <div class="icons">
              <a class="icon disabled" href=""><i class="bi bi-eye"></i></a>
              <a class="icon disabled" href=""><i class="bi bi-arrow-down-circle"></i></a>
            </div>
          </div>

          <div class="box">
            <div class="document" style="font-weight: 700;font-size: 1rem;">Document 6 - Sale Deed</div>
            <div class="icons">
              <a class="icon disabled" href=""><i class="bi bi-eye"></i></a>
              <a class="icon disabled" href=""><i class="bi bi-arrow-down-circle"></i></a>
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>
</main>