<div class="row mb-4">
    <div class="col-4">
        <button routerLink="/home" class="btn w-100" style="background-color: #3FB8DE;color: white;">Schemes</button>
    </div>
    <div class="col-4">
        <button routerLink="/documents" class="btn w-100"
            style="background-color: #3FB8DE;color: white;">Documents</button>
    </div>
    <div class="col-4">
        <button routerLink="/payment" class="btn w-100"
            style="background-color: #3FB8DE;color: white;">Payments</button>
    </div>
</div>