<mat-card class="person-details" style="background: rgba(217, 217, 217, 0.4);border-radius: 1.25em;">

  <img mat-card-image src="../../assets/img/person_img.png" alt="Profile" class="">

  <mat-card-content>

    <table mat-table [dataSource]="dataSource" style="background-color: transparent;">

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <!-- Separator Column -->
      <ng-container matColumnDef="separator">
        <td mat-cell *matCellDef="let element">{{ element.separator }}</td>
      </ng-container>

      <!-- Value Column -->
      <ng-container matColumnDef="value">
        <td mat-cell *matCellDef="let element">{{ element.value }}</td>
      </ng-container>

      <!-- Visibility Column -->
      <ng-container matColumnDef="visibility">
        <td mat-cell *matCellDef="let element"
          [style.display]="isVisibilityColumnVisible(element.name) ? 'table-cell' : 'none'">
          <a href=""><span class="material-symbols-outlined">visibility</span></a>
        </td>
      </ng-container>

      <!-- Table Rows -->
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

  </mat-card-content>
</mat-card>