<mat-card class="card" style="width: 394px; height: 582px; background: rgba(217, 217, 217, 0.4); border-radius: 20px;">
  <mat-card-content class="card-body profile-card pt-4 d-flex flex-column align-items-center">
    <br>
    <img src="assets/img/userlogo.png" alt="Profile" class="rounded-circle">
    <br>
    <br>
    <table class="mat-table table-container">
      <tr>
        <th>Name:</th><td>Hariharan</td>
      </tr>
      <tr>
        <th>Contact No:</th><td>987654321</td>
      </tr>
      <tr>
        <th>Properties:</th><td>2</td>
      </tr>
      <tr>
        <th>Job:</th><td>Govt/Private</td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>

